.footer {
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #e7e7e7;
  padding: 20px 0px;
  position: absolute;  
  left: 0;
  display: block;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer-links {
  display: flex;
  margin: 5px 0;
  color: #333;
  font-size: 14px;

}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }
}