#root {
  max-width: 100%;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}



.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.brand-logo {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.nav-links li a:hover {
  color: #ffd700; /* Cambia el color al pasar el ratón */
}


.navbar {
  background-color: black;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}
